//colors

//color cube
$white : #fefefe;
$lima : #69bf14;
$denim : #1975c0;
$silver-chalice : #afaeae;
$shark: #262727;
$dove-gray: #6b6b6b;
$sunglo: #dd7069;

//median cut
$hippie-green: #4c8d53;
$mercury: #e9e9e9;
$barley-corn: #9ba05a;
$beaver: #86695a;
$oslo-gray: #93989b;

//material design
$denim-vibrant : #1b74c3;
$river-bed-muted: #4d596a;
$lima-dark-vibrant : #6bbb14;
$shark-dark-muted: #292b2f;
$mantis-light-vibrant: #8fce53;
$border: #59a410;




//font 
$main-font : "Montserrat",
sans-serif;